<div class="layoutPage_chapter">
  <%= link_to complaint_path(@complaint.id), class: "layoutPage_link", remote: true, data: { bs_target: '#exampleModal' } do %>
    <h4 class="">Скарга №<%= @complaint.id %><small class="ms-3">(статус <%= @complaint.state %>)</small></h4> 
  <% end %>
</div>

