<div class="notification mb_child <%= @viewed ? "viewed" : "unviewed" %>">
  <h4 class="layoutPage_text mb_child"><%= @notification.title %></h4>
  <p class="layoutPage_text mb_child"><%= @notification.body %></p>
</div>
