alert("Заявка успішно створена!")

document.getElementById("consumer_change_tariff").innerHTML = `
            <h1 class="mb_parrent">
                Зміна тарифу
            </h1>
            <div class="row align-items-center">
              <div class="col-12 col-lg-9">
                Ви успішно подали заявку, будь ласка зачекайте, коли вона буде опрацьована.
                Зміна тарифу відбувається в кінці кожного місяця.
              </div>
            </div>`;