<div>
  Вітаю, <%= consumer.full_name %>, Ваша заявка на зміну тарифу була успішно опрацьована.
</div>

<div>
  Ваш тариф було успішно змінено на <%= consumer.tariff.name %>
</div>

<div>
  Дякуємо, що користуєтесь нашими послугами.
</div>
