<div>
  Вітаю, <%= consumer.full_name %>, Ваша заявка на зміну тарифу була успішно опрацьована.
</div>

<div>
  На жаль, Ваш тариф не було змінено по причині:
</div>
<div>
  <%= change_tariff_request.comment %>
</div>

<div>
  Дякуємо, що користуєтесь нашими послугами.
</div>
