<div class="d-flex align-items-center justify-content-center full_height">
  <div class="transparent_block text-center">
    <div class="transparent_block__content">
      <h1 class="text-center">Вас вітає провайдер
        <strong>
          "Україна"
        </strong>
      </h1>
      <p  class="text-center mt-3">
        Подати інформацію про проблему можна за посиланням
      </p>
      <p><%=link_to "Подати скаргу", new_complaint_path, class: "btn btn-info btn-lg mt-3" %></p>
      <p>Або</p>
      <p><%=link_to "Подані скарги", complaints_path, class: "btn btn-outline-info btn-lg " %></p>
    </div>
  </div>
</div>