<h4>Вітаю, <%= consumer.full_name %>, Ваш акаунт було успішно створено!</h4>
<div>
  Дані для входу:
</div>
<div>
  Логін: <b><%= consumer.username %></b> або <b><%= consumer.email %></b>
</div>
<div>
  Пароль: <b><%= password %></b>
</div>
