@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100;1,200;1,400;1,500;1,700&display=swap');

$font: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

//Font weights
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 800;

//Font sizes
$fs-base-mobile: 14px;
$fs-base-desktop: 16px;

$fs-xs: .75rem;
$fs-s: .875rem;
$fs-base: 1rem;
$fs-m: 1.125rem;
$fs-l: 1.25rem;
$fs-xl: 1.5rem;
$fs-xxl: 2rem;
$fs-xxxl: 2.25rem;
$fs-xxxxl: 2.5rem;

//Line heights
$lh-base: 1.2;
$lh-sm: 1.28;
$lh-lg: 1.65;

// layout
$navbar-height: 100px;

//Border radius
$br-circle: 999px;
$br-button: 0;
$br-card: 35px;
$br-input: 50px;

//colors
$color-primary-base: #00b4d8;
$color-primary-light: #a8dadc;

$color-secondary-base: #cdb4db;

$color-error-base: #BA0E0E;

$color-neutral-base: #242423;
$color-neutral-text: #333533;

$color-black: #000000;
$color-white: #FFF;

$color-background-base: #fff;

// breakpoints
$breakpoint-sm: 576px;
$breakpoint-sm-max: 575px;
$breakpoint-md: 768px;
$breakpoint-md-max: 767px;
$breakpoint-lg: 992px;
$breakpoint-lg-max: 991px;
$breakpoint-xl: 1200px;
$breakpoint-xl-max: 1199px;
$breakpoint-xxl: 1400px;

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

a{
    border: 0;
    text-decoration: none;
}

body{
    font-family: $font;
}

.full_height{
    
    height: 100vh;
    background: url('https://content.eveonline.com/www/newssystem/media/66667/1/capture.gif') no-repeat center center/cover fixed;
}

.transparent_block{
    position: relative;
    padding: 100px;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: rgba(255,255,255,1);
        filter: blur(100px);
    }
    &__content{
        position: relative;
        z-index: 1;
        max-width: 700px;
    }
    &__container{
        max-width: 1320px;
    }
}

.form-control{
    width: 400px;
}

.info{
    font-weight: bold;
}

.link_to_home{
    position: absolute;
    left: 40px;
    top: 40px;
}

.card_complaint{
    width: 100%;
    height: 100px;
    text-decoration: none;
    padding: 20px;
    border: 1px solid #fff;
    h4{
        min-width: 200px;
    }
}

.layout{
    margin-bottom: 20px;

    @media screen and (min-width: $breakpoint-md) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: $breakpoint-xl) {
        margin-bottom: 60px;
    }

    &:first-of-type{
        margin-bottom: 0px;
    }

    &:last-of-type{
        margin-bottom: 0px;
    }

    &_my{
        margin-top: 20px;
        margin-bottom: 20px;

        @media screen and (min-width: $breakpoint-md) {
            margin-top: 30px;
            margin-bottom: 40px;
        }

        @media screen and (min-width: $breakpoint-xl) {
            margin-top: 40px;
            margin-bottom: 60px;
        }

        &_special{
            margin-top: 20px;
            margin-bottom: 20px;

            @media screen and (min-width: $breakpoint-md) {
                margin-top: 30px;
                margin-bottom: 20px;
            }
        }
    }

    &_mb{
        margin-bottom: 20px;

        @media screen and (min-width: $breakpoint-md) {
            margin-bottom: 30px;
        }
    
        @media screen and (min-width: $breakpoint-xl) {
            margin-bottom: 40px;
        }
    }

    &_line{
        width: 100%;
        max-width: 530px;
        height: 1px;
        background-color: $color-black;
        margin-top: 10px;
        margin-bottom: 30px;
        
        @media screen and (min-width: $breakpoint-md) {
            margin-top: 20px;
        }
        
        &__full{
            max-width: 100%;
        }
        
        &__light{
            background-color: $color-primary-light;
        }

        &__white{
            background-color: $color-white;
        }
    }

    &_bg{
        background-color: $color-primary-base;
        padding: 20px 0px;

        @media screen and (min-width: $breakpoint-md) {
            padding: 50px 0px;
        }
    }

}

.layoutPage{
    min-height: 450px;
    padding: 30px 0px 20px;

    @media screen and (min-width: $breakpoint-md) {
        padding: 40px 0px;
    }

    @media screen and (min-width: $breakpoint-xl) {
        padding: 60px 0px;
    }

    &__full{
        height: 100vh;
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_name{
        font-weight: $fw-medium;
        margin-right: 10px;
    }

    &_text{
        color: $color-neutral-text;
        
        &__small{
            font-size: $fs-s;
            &__extra{
                font-size: $fs-xs; 
            }
        }
        
        &__medium{
            font-size: $fs-base-mobile;
        }

        &__accent{
            color: $color-secondary-base;
        }
    }

    &_chapter{
        padding: 0px 0px 15px;
    }

    &_cartCard{
        border-bottom: 1px solid $color-neutral-text;
        &__top{
            border-top: 1px solid $color-neutral-text;
            border-bottom: none;
        }
    }

    &_verticalLine{
        @media screen and (min-width: $breakpoint-md) {
            border-right: 1px solid $color-black;
        }
    }

    &_link{
        color: $color-primary-base;
        cursor: pointer;
        user-select: none;
        transition: all .5s ease;
        @media screen and (min-width: $breakpoint-lg) {
            &:hover{
                color: $color-secondary-base;
            }
        }
    }
}

.mb_child{
    margin-bottom: 20px!important;
  
    @media screen and (max-width: $breakpoint-md-max) {
      &_small{
        margin-bottom: 10px;
      }
    }
  
    &__small{
      margin-bottom: 10px;
    }
  }

  .mb_parrent{
    margin-bottom: 20px;
  
    @media screen and (min-width: $breakpoint-md) {
        margin-bottom: 30px;
    }
  
    @media screen and (min-width: $breakpoint-lg) {
        margin-bottom: 40px; 
    }
  }

.inputForm{
    width: 100%;
    min-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid $color-primary-light;
    transition: all .5s ease;
    &[type="number"]{
        -moz-appearance: textfield;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &:focus{
        outline: none;
        box-shadow: none;
        border: 1px solid $color-neutral-text;
    }

    &__special{
        background-color: rgba(255,255,255,.15);
        backdrop-filter: blur(10px);
    }
}

label{
    abbr{
        display: none;
    }
}

.btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    border-radius: $br-button;
    transition: all .5s ease-in;
    &:focus{
        border: none;
        outline: none;
        box-shadow: none;
    }

    &__180{
        width: 180px;
    }

    &__420{
        width: 100%;
        max-width: 420px;
    }

    &__fill{
        backdrop-filter: blur(10px);
        &_green{
            background-color: $color-primary-light;
           
            @media screen and (min-width: $breakpoint-lg) {
                &:hover{
                    background-color: rgba($color-white, .3);
                }
            }
            
            &:focus, &:active{
                background-color: $color-primary-base;
                border: 1px solid $color-primary-base;
            }
        }
        &_darkgreen{
            background-color: $color-primary-base;
            
            &:focus, &:active{
                background-color: $color-primary-base;
                border: 1px solid $color-primary-base;
            }
            
            @media screen and (min-width: $breakpoint-lg) {
                &:hover{
                    background-color: $color-primary-light;
                }
            }

        }
    }

    &_border{
        color: $color-black;
        border: 1px solid $color-black;
        @media screen and (min-width: $breakpoint-lg) {
            &:focus{
                background-color: $color-primary-base;
                border: 1px solid $color-primary-base; 
            }
            
            &:hover{
                background-color: $color-primary-light;
                border: 1px solid $color-primary-light;
            }

            &:active{
                background-color: $color-primary-base;
                border: 1px solid $color-primary-base; 
            }
        }

        &__white{
            color: $color-white;
            border-color: $color-white;
            @media screen and (min-width: $breakpoint-lg) {
                &:hover{
                    background-color: rgba($color-white, .3);
                    backdrop-filter: blur(10px);
                }
            }
        }
        
    }

    &-close{
        position: absolute;
        top: 30px;
        right: 25px;

        @media screen and (min-width: $breakpoint-md) {
            top: 35px;
            right: 30px;
        }

        @media screen and (min-width: $breakpoint-lg) {
            top: 40px;
            right: 35px;
        }
        
        &:focus, &:active{
            outline: none;
            box-shadow: none;
            border: none;
        }
    }


    &__icon{
        padding: 10px 0px;
        border: none;
        svg{
            margin-left: 10px;
            fill:none;
            transition: all .5s ease;
            path{
                transition: all .5s ease;
            }
        }
        &_active{
            svg{
                fill: $color-error-base;
            }
        }
        @media screen and (min-width: $breakpoint-lg) {
            &__hover{
                &:hover{
                    border: none;
                    svg{
                        fill: rgba($color-error-base, .35);
                    }
                }
            }

            &__text{
                &:hover{
                    color: $color-secondary-base;
                    svg{
                        path{
                            stroke: $color-secondary-base;;
                        }
                    }
                }
            }

            &_active{
                &:hover{
                    svg{
                        fill: $color-error-base;
                    }
                }
            }

            &:focus, &:active{
                border: none;
            }
        }
        &_after{
            &::after{
                content: "";
                position: absolute;
                right: 8px;
                top: 5px;
                width: 9px;
                height: 15px;
                display: block;
                margin-left: auto;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='15' viewBox='0 0 9 15' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.93685 0.74935C1.14432 0.541883 1.48068 0.541883 1.68815 0.74935L8.06315 7.12435C8.27062 7.33182 8.27062 7.66818 8.06315 7.87565L1.68815 14.2507C1.48068 14.4581 1.14432 14.4581 0.93685 14.2507C0.729383 14.0432 0.729383 13.7068 0.93685 13.4993L6.9362 7.5L0.93685 1.50065C0.729383 1.29318 0.729383 0.956816 0.93685 0.74935Z' fill='black'/%3E%3C/svg%3E");
                transition: all .5s ease;
                transform: rotate(90deg);
            }
        
            &.collapsed{
                &::after{
                    transform: rotate(0deg);
                }
            }
        }

        &_hover{
            padding-left: 10px;
            @media screen and (min-width: $breakpoint-lg) {
                &:hover{
                    background-color: $color-primary-base;
                }
            }
        }
    }
}

.square {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	background: linear-gradient(#303030, #757575);
	z-index: 2;
}

.circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	background: #1cd99d;
	border-radius: 50%;
}

.triangle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	background: #f5f5f5;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.bg_dark{
 background-color: #222222;;   
}

.box{
    background-color: rgba(255,255,255,.15);
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 999;
    padding: 25px;
    border-radius: $br-card;
    color: $color-white;
}

.modal{
    &-content{
        border-radius: 0px!important;
        border: none;
    }
}