<p>Привіт <%= @resource.email %>!</p>

<p>Хтось запросив посилання для зміни вашого пароля. Ви можете зробити це за допомогою посилання нижче.</p>

<p><%= link_to 'Змінити мій пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Якщо ви не запитували це, проігноруйте цей лист.</p>

<p>Ваш пароль не буде змінено, поки ви не перейдете за посиланням вище і не створите новий.</p>